@media print {
  @page {
    size: auto;
    margin: 0mm;
  }

  header,
  footer,
  nav {
    display: none !important;
  }

  html,
  body {
    height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  .year-view {
    display: grid !important;
    grid-template-columns: repeat(3, 1fr) !important;
    grid-template-rows: repeat(4, 1fr) !important;
    grid-gap: 0 !important;
    height: 100% !important;
  }

  @media (orientation: landscape) {
    .year-view {
      grid-template-columns: repeat(4, 1fr) !important;
      grid-template-rows: repeat(3, 1fr) !important;
    }

    .cell {
      height: 30px !important;
    }
  }

  .month-view {
    border-radius: 0 !important;
    border: 1px solid black !important;
    margin-top: -1px !important;
    margin-left: -1px !important;
  }

  .chakra-container {
    background: unset !important;
  }

  .chakra-card__body {
    min-width: unset !important;
  }

  .cell {
    padding: 0 !important;
  }

  .today,
  .event {
    border: none !important;
    background-color: unset !important;
    color: black !important;
  }
}
